
<app-user-registration [user]="selectedUser"></app-user-registration>


<ag-grid-angular
    #agUserGrid
    style="width: 100%; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="usersData"
    [columnDefs]="columnDefs"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [defaultColDef]="defaultColDef"
    [frameworkComponents]="frameworkComponents"
    [columnTypes]="columnTypes"
    (gridReady)="onGridReady($event)"
>
</ag-grid-angular>

<!-- <pre>{{usersData | json}}</pre> -->